.firefly {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 0.4vw;
    height: 0.4vw;
    margin: -0.2vw 0 0 9.8vw;
    animation: ease 200s alternate infinite;
    pointer-events: none;
}

.firefly::before, .firefly::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform-origin: -10vw;
}

.firefly::before {
    background: #55C6E7;
    opacity: 0.4;
    animation: drift ease alternate infinite;
}

.firefly::after {
    background: white;
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
    animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
    animation-name: move1;
}

.firefly:nth-child(1)::before {
    animation-duration: 16s;
}

.firefly:nth-child(1)::after {
    animation-duration: 16s, 5595ms;
    animation-delay: 0ms, 5603ms;
}

@keyframes move1 {
    0% {
        transform: translateX(5vw) translateY(-32vh) scale(1);
    }
    5.26316% {
        transform: translateX(48vw) translateY(9vh) scale(0.97);
    }
    10.52632% {
        transform: translateX(18vw) translateY(-41vh) scale(0.59);
    }
    15.78947% {
        transform: translateX(47vw) translateY(34vh) scale(0.8);
    }
    21.05263% {
        transform: translateX(-31vw) translateY(-8vh) scale(0.64);
    }
    26.31579% {
        transform: translateX(10vw) translateY(45vh) scale(0.5);
    }
    31.57895% {
        transform: translateX(41vw) translateY(48vh) scale(0.41);
    }
    36.84211% {
        transform: translateX(16vw) translateY(31vh) scale(0.52);
    }
    42.10526% {
        transform: translateX(-14vw) translateY(-5vh) scale(0.78);
    }
    47.36842% {
        transform: translateX(-42vw) translateY(47vh) scale(0.62);
    }
    52.63158% {
        transform: translateX(-19vw) translateY(-32vh) scale(0.89);
    }
    57.89474% {
        transform: translateX(40vw) translateY(16vh) scale(0.44);
    }
    63.15789% {
        transform: translateX(39vw) translateY(-38vh) scale(0.49);
    }
    68.42105% {
        transform: translateX(12vw) translateY(-43vh) scale(0.86);
    }
    73.68421% {
        transform: translateX(-18vw) translateY(23vh) scale(0.76);
    }
    78.94737% {
        transform: translateX(2vw) translateY(20vh) scale(0.47);
    }
    84.21053% {
        transform: translateX(32vw) translateY(34vh) scale(0.37);
    }
    89.47368% {
        transform: translateX(6vw) translateY(-3vh) scale(0.45);
    }
    94.73684% {
        transform: translateX(-46vw) translateY(-43vh) scale(0.92);
    }
    100% {
        transform: translateX(34vw) translateY(33vh) scale(0.55);
    }
}

.firefly:nth-child(2) {
    animation-name: move2;
}

.firefly:nth-child(2)::before {
    animation-duration: 14s;
}

.firefly:nth-child(2)::after {
    animation-duration: 14s, 10907ms;
    animation-delay: 0ms, 1905ms;
}

@keyframes move2 {
    0% {
        transform: translateX(38vw) translateY(39vh) scale(0.65);
    }
    3.57143% {
        transform: translateX(27vw) translateY(-49vh) scale(0.31);
    }
    7.14286% {
        transform: translateX(-31vw) translateY(-17vh) scale(0.33);
    }
    10.71429% {
        transform: translateX(-29vw) translateY(5vh) scale(0.73);
    }
    14.28571% {
        transform: translateX(26vw) translateY(-13vh) scale(0.45);
    }
    17.85714% {
        transform: translateX(-19vw) translateY(-1vh) scale(0.58);
    }
    21.42857% {
        transform: translateX(-22vw) translateY(-29vh) scale(0.69);
    }
    25% {
        transform: translateX(-49vw) translateY(-29vh) scale(0.78);
    }
    28.57143% {
        transform: translateX(43vw) translateY(-19vh) scale(0.53);
    }
    32.14286% {
        transform: translateX(-49vw) translateY(-2vh) scale(0.42);
    }
    35.71429% {
        transform: translateX(-29vw) translateY(32vh) scale(0.88);
    }
    39.28571% {
        transform: translateX(-37vw) translateY(34vh) scale(0.58);
    }
    42.85714% {
        transform: translateX(8vw) translateY(35vh) scale(0.62);
    }
    46.42857% {
        transform: translateX(-9vw) translateY(-35vh) scale(0.62);
    }
    50% {
        transform: translateX(28vw) translateY(-20vh) scale(0.88);
    }
    53.57143% {
        transform: translateX(-18vw) translateY(8vh) scale(1);
    }
    57.14286% {
        transform: translateX(21vw) translateY(-39vh) scale(0.81);
    }
    60.71429% {
        transform: translateX(-24vw) translateY(13vh) scale(0.95);
    }
    64.28571% {
        transform: translateX(-46vw) translateY(-42vh) scale(0.92);
    }
    67.85714% {
        transform: translateX(-33vw) translateY(-32vh) scale(0.28);
    }
    71.42857% {
        transform: translateX(-27vw) translateY(-14vh) scale(0.72);
    }
    75% {
        transform: translateX(31vw) translateY(-17vh) scale(0.63);
    }
    78.57143% {
        transform: translateX(-49vw) translateY(-44vh) scale(0.29);
    }
    82.14286% {
        transform: translateX(-3vw) translateY(-37vh) scale(0.3);
    }
    85.71429% {
        transform: translateX(-26vw) translateY(-45vh) scale(0.33);
    }
    89.28571% {
        transform: translateX(-36vw) translateY(36vh) scale(0.39);
    }
    92.85714% {
        transform: translateX(-38vw) translateY(-46vh) scale(0.7);
    }
    96.42857% {
        transform: translateX(37vw) translateY(47vh) scale(0.4);
    }
    100% {
        transform: translateX(-10vw) translateY(5vh) scale(0.68);
    }
}

.firefly:nth-child(3) {
    animation-name: move3;
}

.firefly:nth-child(3)::before {
    animation-duration: 9s;
}

.firefly:nth-child(3)::after {
    animation-duration: 9s, 10350ms;
    animation-delay: 0ms, 5986ms;
}

@keyframes move3 {
    0% {
        transform: translateX(46vw) translateY(-46vh) scale(0.3);
    }
    5.26316% {
        transform: translateX(-19vw) translateY(26vh) scale(0.67);
    }
    10.52632% {
        transform: translateX(44vw) translateY(40vh) scale(0.3);
    }
    15.78947% {
        transform: translateX(-10vw) translateY(9vh) scale(0.58);
    }
    21.05263% {
        transform: translateX(14vw) translateY(-27vh) scale(0.31);
    }
    26.31579% {
        transform: translateX(-4vw) translateY(43vh) scale(0.48);
    }
    31.57895% {
        transform: translateX(5vw) translateY(-21vh) scale(0.93);
    }
    36.84211% {
        transform: translateX(-31vw) translateY(-30vh) scale(0.45);
    }
    42.10526% {
        transform: translateX(-5vw) translateY(-33vh) scale(0.57);
    }
    47.36842% {
        transform: translateX(-49vw) translateY(26vh) scale(0.6);
    }
    52.63158% {
        transform: translateX(-4vw) translateY(-5vh) scale(0.51);
    }
    57.89474% {
        transform: translateX(4vw) translateY(-13vh) scale(0.89);
    }
    63.15789% {
        transform: translateX(-34vw) translateY(37vh) scale(0.47);
    }
    68.42105% {
        transform: translateX(39vw) translateY(19vh) scale(0.38);
    }
    73.68421% {
        transform: translateX(-6vw) translateY(21vh) scale(0.92);
    }
    78.94737% {
        transform: translateX(34vw) translateY(-16vh) scale(0.87);
    }
    84.21053% {
        transform: translateX(25vw) translateY(-45vh) scale(0.79);
    }
    89.47368% {
        transform: translateX(20vw) translateY(29vh) scale(0.85);
    }
    94.73684% {
        transform: translateX(32vw) translateY(32vh) scale(0.85);
    }
    100% {
        transform: translateX(-29vw) translateY(-44vh) scale(0.32);
    }
}

.firefly:nth-child(4) {
    animation-name: move4;
}

.firefly:nth-child(4)::before {
    animation-duration: 9s;
}

.firefly:nth-child(4)::after {
    animation-duration: 9s, 10349ms;
    animation-delay: 0ms, 8172ms;
}

@keyframes move4 {
    0% {
        transform: translateX(-14vw) translateY(37vh) scale(0.34);
    }
    5.88235% {
        transform: translateX(-2vw) translateY(9vh) scale(0.59);
    }
    11.76471% {
        transform: translateX(29vw) translateY(39vh) scale(0.83);
    }
    17.64706% {
        transform: translateX(-9vw) translateY(-47vh) scale(0.57);
    }
    23.52941% {
        transform: translateX(-34vw) translateY(-25vh) scale(0.86);
    }
    29.41176% {
        transform: translateX(-28vw) translateY(-47vh) scale(0.38);
    }
    35.29412% {
        transform: translateX(-46vw) translateY(-19vh) scale(0.59);
    }
    41.17647% {
        transform: translateX(22vw) translateY(47vh) scale(0.42);
    }
    47.05882% {
        transform: translateX(43vw) translateY(-3vh) scale(0.54);
    }
    52.94118% {
        transform: translateX(-40vw) translateY(-13vh) scale(0.88);
    }
    58.82353% {
        transform: translateX(-36vw) translateY(23vh) scale(0.7);
    }
    64.70588% {
        transform: translateX(4vw) translateY(-41vh) scale(0.26);
    }
    70.58824% {
        transform: translateX(-35vw) translateY(-7vh) scale(0.78);
    }
    76.47059% {
        transform: translateX(18vw) translateY(-31vh) scale(0.41);
    }
    82.35294% {
        transform: translateX(34vw) translateY(-18vh) scale(0.88);
    }
    88.23529% {
        transform: translateX(-41vw) translateY(37vh) scale(0.89);
    }
    94.11765% {
        transform: translateX(-20vw) translateY(42vh) scale(0.99);
    }
    100% {
        transform: translateX(-21vw) translateY(25vh) scale(0.47);
    }
}

.firefly:nth-child(5) {
    animation-name: move5;
}

.firefly:nth-child(5)::before {
    animation-duration: 10s;
}

.firefly:nth-child(5)::after {
    animation-duration: 10s, 5768ms;
    animation-delay: 0ms, 3650ms;
}

@keyframes move5 {
    0% {
        transform: translateX(40vw) translateY(-7vh) scale(0.3);
    }
    4.34783% {
        transform: translateX(-31vw) translateY(-5vh) scale(0.71);
    }
    8.69565% {
        transform: translateX(14vw) translateY(-13vh) scale(0.93);
    }
    13.04348% {
        transform: translateX(-45vw) translateY(-43vh) scale(0.69);
    }
    17.3913% {
        transform: translateX(3vw) translateY(-15vh) scale(0.63);
    }
    21.73913% {
        transform: translateX(37vw) translateY(43vh) scale(0.55);
    }
    26.08696% {
        transform: translateX(41vw) translateY(-36vh) scale(0.81);
    }
    30.43478% {
        transform: translateX(24vw) translateY(-11vh) scale(0.63);
    }
    34.78261% {
        transform: translateX(-44vw) translateY(39vh) scale(0.59);
    }
    39.13043% {
        transform: translateX(39vw) translateY(-37vh) scale(0.9);
    }
    43.47826% {
        transform: translateX(16vw) translateY(-29vh) scale(0.53);
    }
    47.82609% {
        transform: translateX(50vw) translateY(-42vh) scale(0.78);
    }
    52.17391% {
        transform: translateX(-28vw) translateY(38vh) scale(0.65);
    }
    56.52174% {
        transform: translateX(26vw) translateY(35vh) scale(0.93);
    }
    60.86957% {
        transform: translateX(42vw) translateY(-37vh) scale(0.36);
    }
    65.21739% {
        transform: translateX(-2vw) translateY(13vh) scale(0.36);
    }
    69.56522% {
        transform: translateX(10vw) translateY(-4vh) scale(0.87);
    }
    73.91304% {
        transform: translateX(37vw) translateY(-30vh) scale(0.85);
    }
    78.26087% {
        transform: translateX(-22vw) translateY(20vh) scale(0.88);
    }
    82.6087% {
        transform: translateX(-30vw) translateY(30vh) scale(0.44);
    }
    86.95652% {
        transform: translateX(-28vw) translateY(46vh) scale(0.98);
    }
    91.30435% {
        transform: translateX(39vw) translateY(-15vh) scale(0.35);
    }
    95.65217% {
        transform: translateX(-33vw) translateY(-14vh) scale(1);
    }
    100% {
        transform: translateX(-6vw) translateY(47vh) scale(0.62);
    }
}

.firefly:nth-child(6) {
    animation-name: move6;
}

.firefly:nth-child(6)::before {
    animation-duration: 10s;
}

.firefly:nth-child(6)::after {
    animation-duration: 10s, 9985ms;
    animation-delay: 0ms, 8329ms;
}

@keyframes move6 {
    0% {
        transform: translateX(48vw) translateY(33vh) scale(0.58);
    }
    4.7619% {
        transform: translateX(37vw) translateY(1vh) scale(0.46);
    }
    9.52381% {
        transform: translateX(42vw) translateY(-23vh) scale(0.61);
    }
    14.28571% {
        transform: translateX(-22vw) translateY(19vh) scale(0.42);
    }
    19.04762% {
        transform: translateX(-47vw) translateY(-23vh) scale(0.63);
    }
    23.80952% {
        transform: translateX(22vw) translateY(24vh) scale(0.59);
    }
    28.57143% {
        transform: translateX(1vw) translateY(-18vh) scale(0.46);
    }
    33.33333% {
        transform: translateX(39vw) translateY(-28vh) scale(0.88);
    }
    38.09524% {
        transform: translateX(31vw) translateY(8vh) scale(0.9);
    }
    42.85714% {
        transform: translateX(2vw) translateY(-20vh) scale(0.49);
    }
    47.61905% {
        transform: translateX(47vw) translateY(26vh) scale(0.96);
    }
    52.38095% {
        transform: translateX(14vw) translateY(24vh) scale(0.82);
    }
    57.14286% {
        transform: translateX(-33vw) translateY(48vh) scale(0.29);
    }
    61.90476% {
        transform: translateX(34vw) translateY(-9vh) scale(0.49);
    }
    66.66667% {
        transform: translateX(28vw) translateY(26vh) scale(0.64);
    }
    71.42857% {
        transform: translateX(-44vw) translateY(43vh) scale(0.66);
    }
    76.19048% {
        transform: translateX(28vw) translateY(-25vh) scale(0.68);
    }
    80.95238% {
        transform: translateX(21vw) translateY(-16vh) scale(0.68);
    }
    85.71429% {
        transform: translateX(-40vw) translateY(43vh) scale(0.3);
    }
    90.47619% {
        transform: translateX(-40vw) translateY(37vh) scale(0.7);
    }
    95.2381% {
        transform: translateX(-14vw) translateY(41vh) scale(0.6);
    }
    100% {
        transform: translateX(27vw) translateY(-5vh) scale(0.65);
    }
}

.firefly:nth-child(7) {
    animation-name: move7;
}

.firefly:nth-child(7)::before {
    animation-duration: 17s;
}

.firefly:nth-child(7)::after {
    animation-duration: 17s, 10830ms;
    animation-delay: 0ms, 8089ms;
}

@keyframes move7 {
    0% {
        transform: translateX(-43vw) translateY(8vh) scale(0.3);
    }
    3.84615% {
        transform: translateX(-19vw) translateY(33vh) scale(0.42);
    }
    7.69231% {
        transform: translateX(20vw) translateY(-23vh) scale(0.32);
    }
    11.53846% {
        transform: translateX(39vw) translateY(39vh) scale(0.49);
    }
    15.38462% {
        transform: translateX(-7vw) translateY(-43vh) scale(0.7);
    }
    19.23077% {
        transform: translateX(49vw) translateY(14vh) scale(0.37);
    }
    23.07692% {
        transform: translateX(-6vw) translateY(-36vh) scale(0.71);
    }
    26.92308% {
        transform: translateX(-11vw) translateY(-3vh) scale(0.71);
    }
    30.76923% {
        transform: translateX(22vw) translateY(-46vh) scale(0.42);
    }
    34.61538% {
        transform: translateX(39vw) translateY(30vh) scale(0.72);
    }
    38.46154% {
        transform: translateX(-35vw) translateY(38vh) scale(0.79);
    }
    42.30769% {
        transform: translateX(16vw) translateY(19vh) scale(0.58);
    }
    46.15385% {
        transform: translateX(20vw) translateY(-49vh) scale(0.98);
    }
    50% {
        transform: translateX(38vw) translateY(37vh) scale(0.77);
    }
    53.84615% {
        transform: translateX(49vw) translateY(12vh) scale(0.29);
    }
    57.69231% {
        transform: translateX(47vw) translateY(16vh) scale(0.73);
    }
    61.53846% {
        transform: translateX(42vw) translateY(21vh) scale(0.4);
    }
    65.38462% {
        transform: translateX(-35vw) translateY(43vh) scale(0.74);
    }
    69.23077% {
        transform: translateX(16vw) translateY(-8vh) scale(0.48);
    }
    73.07692% {
        transform: translateX(18vw) translateY(-16vh) scale(0.31);
    }
    76.92308% {
        transform: translateX(-28vw) translateY(41vh) scale(0.55);
    }
    80.76923% {
        transform: translateX(-6vw) translateY(13vh) scale(0.26);
    }
    84.61538% {
        transform: translateX(41vw) translateY(28vh) scale(0.44);
    }
    88.46154% {
        transform: translateX(36vw) translateY(23vh) scale(0.55);
    }
    92.30769% {
        transform: translateX(-24vw) translateY(-46vh) scale(0.61);
    }
    96.15385% {
        transform: translateX(6vw) translateY(19vh) scale(0.53);
    }
    100% {
        transform: translateX(-44vw) translateY(-14vh) scale(0.3);
    }
}

.firefly:nth-child(8) {
    animation-name: move8;
}

.firefly:nth-child(8)::before {
    animation-duration: 17s;
}

.firefly:nth-child(8)::after {
    animation-duration: 17s, 5348ms;
    animation-delay: 0ms, 2260ms;
}

@keyframes move8 {
    0% {
        transform: translateX(40vw) translateY(-15vh) scale(0.66);
    }
    3.84615% {
        transform: translateX(-28vw) translateY(-41vh) scale(0.89);
    }
    7.69231% {
        transform: translateX(-10vw) translateY(19vh) scale(0.47);
    }
    11.53846% {
        transform: translateX(35vw) translateY(-34vh) scale(0.79);
    }
    15.38462% {
        transform: translateX(-44vw) translateY(-24vh) scale(0.4);
    }
    19.23077% {
        transform: translateX(11vw) translateY(-14vh) scale(0.37);
    }
    23.07692% {
        transform: translateX(29vw) translateY(2vh) scale(0.32);
    }
    26.92308% {
        transform: translateX(26vw) translateY(4vh) scale(0.84);
    }
    30.76923% {
        transform: translateX(-26vw) translateY(-28vh) scale(0.52);
    }
    34.61538% {
        transform: translateX(16vw) translateY(-34vh) scale(0.68);
    }
    38.46154% {
        transform: translateX(45vw) translateY(41vh) scale(1);
    }
    42.30769% {
        transform: translateX(0vw) translateY(-45vh) scale(0.59);
    }
    46.15385% {
        transform: translateX(26vw) translateY(22vh) scale(0.72);
    }
    50% {
        transform: translateX(5vw) translateY(35vh) scale(0.91);
    }
    53.84615% {
        transform: translateX(-22vw) translateY(37vh) scale(0.52);
    }
    57.69231% {
        transform: translateX(22vw) translateY(-19vh) scale(0.67);
    }
    61.53846% {
        transform: translateX(-28vw) translateY(0vh) scale(0.72);
    }
    65.38462% {
        transform: translateX(39vw) translateY(34vh) scale(0.59);
    }
    69.23077% {
        transform: translateX(44vw) translateY(-11vh) scale(0.3);
    }
    73.07692% {
        transform: translateX(-10vw) translateY(27vh) scale(0.39);
    }
    76.92308% {
        transform: translateX(-12vw) translateY(-32vh) scale(0.53);
    }
    80.76923% {
        transform: translateX(38vw) translateY(0vh) scale(0.29);
    }
    84.61538% {
        transform: translateX(-6vw) translateY(-41vh) scale(0.85);
    }
    88.46154% {
        transform: translateX(26vw) translateY(50vh) scale(0.98);
    }
    92.30769% {
        transform: translateX(9vw) translateY(41vh) scale(0.73);
    }
    96.15385% {
        transform: translateX(49vw) translateY(38vh) scale(0.44);
    }
    100% {
        transform: translateX(37vw) translateY(45vh) scale(0.66);
    }
}

.firefly:nth-child(9) {
    animation-name: move9;
}

.firefly:nth-child(9)::before {
    animation-duration: 14s;
}

.firefly:nth-child(9)::after {
    animation-duration: 14s, 9007ms;
    animation-delay: 0ms, 5028ms;
}

@keyframes move9 {
    0% {
        transform: translateX(-9vw) translateY(-1vh) scale(0.59);
    }
    5.26316% {
        transform: translateX(38vw) translateY(-40vh) scale(0.87);
    }
    10.52632% {
        transform: translateX(-30vw) translateY(12vh) scale(0.68);
    }
    15.78947% {
        transform: translateX(12vw) translateY(14vh) scale(0.64);
    }
    21.05263% {
        transform: translateX(34vw) translateY(28vh) scale(0.74);
    }
    26.31579% {
        transform: translateX(-48vw) translateY(-35vh) scale(0.53);
    }
    31.57895% {
        transform: translateX(37vw) translateY(0vh) scale(0.71);
    }
    36.84211% {
        transform: translateX(20vw) translateY(-18vh) scale(0.99);
    }
    42.10526% {
        transform: translateX(-25vw) translateY(-35vh) scale(0.91);
    }
    47.36842% {
        transform: translateX(-29vw) translateY(47vh) scale(0.73);
    }
    52.63158% {
        transform: translateX(16vw) translateY(44vh) scale(0.75);
    }
    57.89474% {
        transform: translateX(17vw) translateY(22vh) scale(0.4);
    }
    63.15789% {
        transform: translateX(30vw) translateY(3vh) scale(0.53);
    }
    68.42105% {
        transform: translateX(-31vw) translateY(41vh) scale(0.44);
    }
    73.68421% {
        transform: translateX(39vw) translateY(-45vh) scale(0.76);
    }
    78.94737% {
        transform: translateX(-10vw) translateY(1vh) scale(0.94);
    }
    84.21053% {
        transform: translateX(37vw) translateY(34vh) scale(0.47);
    }
    89.47368% {
        transform: translateX(-12vw) translateY(40vh) scale(0.91);
    }
    94.73684% {
        transform: translateX(43vw) translateY(39vh) scale(0.34);
    }
    100% {
        transform: translateX(-18vw) translateY(13vh) scale(0.75);
    }
}

.firefly:nth-child(10) {
    animation-name: move10;
}

.firefly:nth-child(10)::before {
    animation-duration: 12s;
}

.firefly:nth-child(10)::after {
    animation-duration: 12s, 6472ms;
    animation-delay: 0ms, 4685ms;
}

@keyframes move10 {
    0% {
        transform: translateX(-21vw) translateY(2vh) scale(0.34);
    }
    4.7619% {
        transform: translateX(-25vw) translateY(40vh) scale(0.93);
    }
    9.52381% {
        transform: translateX(28vw) translateY(-27vh) scale(0.58);
    }
    14.28571% {
        transform: translateX(31vw) translateY(0vh) scale(0.63);
    }
    19.04762% {
        transform: translateX(22vw) translateY(24vh) scale(0.36);
    }
    23.80952% {
        transform: translateX(8vw) translateY(-1vh) scale(0.58);
    }
    28.57143% {
        transform: translateX(22vw) translateY(38vh) scale(0.58);
    }
    33.33333% {
        transform: translateX(50vw) translateY(49vh) scale(0.65);
    }
    38.09524% {
        transform: translateX(-7vw) translateY(-11vh) scale(0.74);
    }
    42.85714% {
        transform: translateX(12vw) translateY(26vh) scale(0.92);
    }
    47.61905% {
        transform: translateX(28vw) translateY(-21vh) scale(0.75);
    }
    52.38095% {
        transform: translateX(-14vw) translateY(23vh) scale(0.79);
    }
    57.14286% {
        transform: translateX(14vw) translateY(39vh) scale(0.59);
    }
    61.90476% {
        transform: translateX(34vw) translateY(-9vh) scale(0.58);
    }
    66.66667% {
        transform: translateX(38vw) translateY(18vh) scale(0.74);
    }
    71.42857% {
        transform: translateX(-41vw) translateY(3vh) scale(0.58);
    }
    76.19048% {
        transform: translateX(17vw) translateY(-19vh) scale(0.61);
    }
    80.95238% {
        transform: translateX(6vw) translateY(-25vh) scale(0.55);
    }
    85.71429% {
        transform: translateX(11vw) translateY(29vh) scale(0.4);
    }
    90.47619% {
        transform: translateX(3vw) translateY(0vh) scale(0.72);
    }
    95.2381% {
        transform: translateX(11vw) translateY(30vh) scale(0.42);
    }
    100% {
        transform: translateX(5vw) translateY(-46vh) scale(0.56);
    }
}

@keyframes drift {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
    }
    5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
    }
}
